@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
.cb {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    background-color: #fff;
    padding: 20px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}
  
.logo {
    max-width: 100%;
    width: 300px;
    height: auto;
}
  
.menu {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    font-family: "Tangerine", cursive;
    
}
  
.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.55rem;
    flex-wrap: wrap;
   
}
.menu a:hover{
    color: #d9534f;;
}  
section{
    margin-top: 250px;
    margin-bottom: 100px;
}
#vidaacad{
    width: 72%;
    margin: 100px auto;
    background-color: #d9534f;
    color: white;
    padding: 30px;
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 10px solid rgb(245, 245, 93);
}   
.imgifsc {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 20%;
    border: 5px solid white;
    object-fit: cover;
    flex-shrink: 0;
}    
.textoacademico {
    flex: 1 1 300px;
    margin: 20px;
    min-width: 250px;
}  
article{
    margin-top: 100 px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    width: 100% 0;
}  
.formação h1{
    width: 50%;
    font-size:30px;
    padding: 10px;
    margin:0;
    margin-left: 25%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: rgb(245, 245, 93);
    border-radius: 50px;
    text-align: center;    
}
.tipoform{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content:center
    
}
.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 0.5%;
    color: white;
    background-color: #d9534f;
    border: 1px solid ;
    text-align: center;
    border-radius: 40px;
    margin-left: 5%;
    transition-duration: 0.3s;
    transition-property: all;
    flex-wrap: wrap;
}  
.texto-oculto{
    display: none;
    li{
      text-align: justify;
    }
  
}  
.card:hover{
    background-color: rgb(245, 245, 93);
    border: 10px solid #d9534f;
    color: black;
    img{
        display: none;
    }
  
}  
.card:hover .card-texto{
    display: none;
}
.card:hover .texto-oculto{
    display: inline-block;
}  
.texto-oculto{
    display: none;
  
}  

.experienciaacad{
    margin-top: 100px;
    width: 72%;
    margin-left: 10%;
    margin-right: 8%;
    background-color:  rgb(245, 245, 93);
    color: black;
    padding: 30px;
    border-radius: 60px;
    overflow: hidden;
    flex-wrap: wrap;
    display: inline-block;
    border: 10px solid #d9534f;
    img{         
        float: right;
        width: 180px;
        height: 180px;
        margin: 70px 20px 20px 0;
        border-radius: 50%;
        border: 5px solid white;
        object-fit: cover;
        flex-wrap: wrap;
        width: 30%;         
        max-width: 180px;   
       
    }
}
.texto-expacad{
    margin: 20px;
    overflow: hidden; 
    flex-wrap: wrap;

}
.experienciaacad a{
    text-decoration: none;
    border: #fff 3px solid;
    padding: 20px;
    background-color: #d9534f;
    border-radius: 50px;
    color: #fff;
    display: block;
    margin: 30px auto 0;
    text-align: center;
    font-size: 20px;
    transition-duration: 0.3s;
    transition-property: all;
    flex-wrap: wrap;
   
}
.experienciaacad a:hover{
    border:#d9534f 3px solid;
    padding: 30px;
    background-color: rgb(245, 245, 93);
    border-radius: 50px;
    color: black;
}
.cursando{
    margin-top: 80px;
    h1{
        width: 50%;
        font-size:30px;
        padding: 10px;
        margin:0;
        margin-left: 25%;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
        background-color: yellow;
        border-radius: 50px;
        text-align: center;  
    }
  
}
.card-cursando{
    margin-top: 5px;
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin: 1%;
    color: white;
    background-color: #d9534f;
    border: 1px solid ;
    text-align: center;
    border-radius: 40px;
    margin-left: 5%;
    font-size: 1.2vw; 
}

.cursado{
    margin-top: 80px;
    h1{
        width: 50%;
        font-size:30px;
        padding: 10px;
        margin:0;
        margin-left: 25%;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
        background-color: yellow;
        border-radius: 50px;
        text-align: center;  
    }
  
}
.card-cursado{
    margin-top: 5px;
    display: inline-block;
    width: 20%;
    padding: 20px;
    margin: 1%;
    color: white;
    background-color: #d9534f;
    border: 1px solid ;
    text-align: center;
    border-radius: 40px;
    margin-left: 5%;
    font-size: 1.2vw; 
}
footer{
    margin-top: 200px;
    height: 150px;
    border-top: 3px solid #d9534f;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
}
footer a{
    text-decoration: none;
}
.logorodape{
    width: 30vw; 
    max-width: 300px;
    height: auto;   
}


